<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meetcity.calabash">

    <application
        android:name=".McApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
       >
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebActivity"></activity>
        <activity android:name=".ConstellationActivity"></activity>



        <service android:name="com.qq.e.comm.DownloadService" android:exported="false"></service>
        <activity android:name="com.qq.e.ads.ADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".NewsActivity"></activity>
        <activity android:name=".DivinationActivity"></activity>
        <activity android:name=".ReaderActivity"></activity>
        <activity android:name=".ReaderWebActivity"></activity>
        <activity android:name=".YiActivity"></activity>
        <activity android:name=".ImageActivity"></activity>
        <activity android:name=".OpenActivity"></activity>

        <meta-data android:value="ecb2dc49b1a4a624d1ac80ce177b8ed#" android:name="BUG_HD_SDK_GENERAL_KEY" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <!--tools:replace="android:icon"-->

</manifest>